In [11]:
import pandas as pd
import os
import numpy as np

In [2]:
ls

README.md                      train.csv
concat-end-time.ipynb          unbalanced_train_segments.csv
eval_segments.csv              val.csv
test.csv

In [42]:
def get_as_all():
    df_tr = pd.read_csv(
            "unbalanced_train_segments.csv",
            header=2,
            sep=",",
            quotechar='"',
            skipinitialspace=True,
            dtype={
                'YTID': str,
                'start_seconds': float,
                'end_seconds': float,
                'positive_labels': str,
            },
        )
    df_tr = df_tr.rename(columns={"# YTID":"youtube_id"}) 
    df_tr['google_official_split'] = 'train'
    
    df_ev = pd.read_csv(
            "eval_segments.csv",
            header=2,
            sep=",",
            quotechar='"',
            skipinitialspace=True,
            dtype={
                'YTID': str,
                'start_seconds': float,
                'end_seconds': float,
                'positive_labels': str,
            },
        )
    df_ev = df_ev.rename(columns={"# YTID":"youtube_id"}) 
    df_ev['google_official_split'] = 'eval'
    
    return pd.concat([df_tr, df_ev])

In [43]:
df_as = get_as_all()

In [44]:
df_as

,youtube_id,start_seconds,end_seconds,positive_labels,google_official_split
0,---1_cCGK4M,0.0,10.0,"/m/01g50p,/m/0284vy3,/m/06d_3,/m/07jdr,/m/07rwm0c",train
1,---2_BBVHAA,30.0,40.0,/m/09x0r,train
2,---B_v8ZoBY,30.0,40.0,/m/04rlf,train
3,---EDNidJUA,30.0,40.0,"/m/02qldy,/m/02zsn,/m/05zppz,/m/09x0r",train
4,---N4cFAE1A,21.0,31.0,"/m/04rlf,/m/09x0r",train
...,...,...,...,...,...
20366,zyF8TGSRvns,150.0,160.0,"/m/0dwsp,/m/0dwtp,/m/0f8s22,/m/0j45pbj",eval
20367,zz35Va7tYmA,30.0,40.0,"/m/012f08,/m/07q2z82,/m/07qmpdm,/m/0k4j",eval
20368,zzD_oVgzKMc,30.0,40.0,/m/07pn_8q,eval
20369,zzNdwF40ID8,70.0,80.0,"/m/04rlf,/m/0790c",eval
20370,zzbTaK7CXJY,30.0,40.0,"/m/03m9d0z,/m/07qwyj0,/t/dd00092",eval

In [45]:
df_as.columns

Index(['youtube_id', 'start_seconds', 'end_seconds', 'positive_labels',
       'google_official_split'],
      dtype='object')

In [46]:
df_as.to_csv('audioset-merged.csv', index=False)

In [10]:
ss = df_as['start_seconds'].to_numpy()

In [16]:
counter = 0
for s in ss:
    if s != s.astype(np.int):
        print(s)
        counter += 1

print(counter)

/var/folders/fh/0b80xxrx4r97m_85dxwkcy3r0000gn/T/ipykernel_85411/3881154902.py:3: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if s != s.astype(np.int):

61.1
118.2
98.2
24.2
7.3
76.4
97.9
103.4
131.8
168.4
97.4
101.8
21.2
280.8
102.3
24.8
100.3
147.2
451.4
62.7
53.8
55.3
4.4
8.5
50.7
255.8
7.9
54.9
14.1
206.6
130.4
9.1
37.5
17.1
74.5
48.7
451.8
168.6
9.3
222.4
111.6
75.5
5.8
262.6
135.6
116.6
172.4
39.5
3.7
98.4
127.2
69.9
49.3
101.1
55.2
41.6
108.1
3.3
33.8
12.1
123.6
541.6
417.3
202.7
122.7
65

In [59]:
df_ac_test = pd.read_csv(
            'test.csv',
            dtype={
                'audiocap_id': str,
                'youtube_id': str,
                'start_time': int,
                'caption': str,
            },
        )

# insert_start_end_column
# df_ac_train

In [60]:
df_ac_val = pd.read_csv(
            'val.csv',
            dtype={
                'audiocap_id': str,
                'youtube_id': str,
                'start_time': int,
                'caption': str,
            },
        )

# insert_start_end_column
# df_ac_train

In [48]:
df_ac_train = pd.read_csv(
            'train.csv',
            dtype={
                'audiocap_id': str,
                'youtube_id': str,
                'start_time': int,
                'caption': str,
            },
        )

# insert_start_end_column
df_ac_train

,audiocap_id,youtube_id,start_time,caption
0,91139,r1nicOVtvkQ,130,A woman talks nearby as water pours
1,58146,UDGBjjwyaqE,20,Multiple clanging and clanking sounds
2,11542,3eJ9RynJzP8,80,"The wind is blowing, insects are singing, and ..."
3,11543,3eK62q7SnVU,390,The wind is blowing and rustling occurs
4,11540,3eGXNIadwGk,30,Person is whistling
...,...,...,...,...
49833,88971,pOMFhtRo_gU,30,Background whirring punctuated with swipe and ...
49834,88973,pONs-WiLqjk,50,A person laughs with some banging and rattling
49835,38849,HW7zqURSqdo,200,People talk and laugh loudly nearby
49836,88975,pOXQNWFHJYU,150,A man speaking with light rainfall and a diffe...
49837,38347,HC-utKUX3a4,50,Humming with a distant train horn blowing

In [54]:
df_ac_train.dtypes

audiocap_id    object
youtube_id     object
start_time      int64
caption        object
dtype: object

In [55]:
df_as.dtypes

youtube_id                object
start_seconds            float64
end_seconds              float64
positive_labels           object
google_official_split     object
dtype: object

In [56]:
def insert_start_end_column(df_ac, df_as):
    return df_ac.merge(df_as, on='youtube_id')

In [62]:
merged_df_ac_train = insert_start_end_column(df_ac_train, df_as)
merged_df_ac_train.to_csv('train_merged.csv', index=False)

In [63]:
merged_df_ac_val = insert_start_end_column(df_ac_val, df_as)
merged_df_ac_val.to_csv('val_merged.csv', index=False)

merged_df_ac_test = insert_start_end_column(df_ac_test, df_as)
merged_df_ac_test.to_csv('test_merged.csv', index=False)